@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    color: #F63E7B;
    font-weight: bold;
}

.btnp {
    padding: 10px 20px;
    background-color: #F63E7B;
    border: 5px;
    border-bottom: #F63E7B;
    color: white !important;
}

.btnp:hover {
    background-color: red;
    color: white;
    cursor: pointer;
    transition: all ease 0.5s;
}

.dark-theme a{
    color: gray !important;
}

.dark-theme {
    background-color: rgba(0, 0, 0, 0.867);
    color: white !important;
}

.dark-theme p, tr  {
    color: white;

}

.light-theme {
    background-color: white !important;
    color: black !important;
}

.light-theme tr, p {
    color: black;
}